<div id="skills" class="w3-container">

  <!-- Experiences Skills -->
  <p class="w3-large">
    <b><i class="fa fa-list-ul fa-fw w3-margin-right w3-text-teal"></i>Fokus</b>
  </p>
  <p *ngIf="isLoading">
    <span class="fa fa-spinner fa-spin"></span> Lade ...
  </p>
  <p *ngIf="!isLoading">
    {{ experiencedSkills | listValues }}
  </p>
  <br>


  <!-- Basic Skills -->
  <p class="w3-large">
    <b><i class="fa fa-list-ul fa-fw w3-margin-right w3-text-teal"></i>Weitere Kenntnisse</b>
  </p>
  <p *ngIf="isLoading">
    <span class="fa fa-spinner fa-spin"></span> Lade ...
  </p>
  <p *ngIf="!isLoading">
    {{ basicSkills | listValues }}
  </p>
  <br>


  <!-- Languages -->
  <p class="w3-large">
    <b><i class="fa fa-list-ul fa-fw w3-margin-right w3-text-teal"></i>Sprachkenntnisse</b>
  </p>
  <p *ngIf="isLoading">
    <span class="fa fa-spinner fa-spin"></span> Lade ...
  </p>
  <p *ngIf="!isLoading">
    {{ languageSkills | listValues }}
  </p>

</div>
