<header class="w3-container w3-teal w3-margin-top">
  <h2 class="w3-left" [routerLink]="['/']">
    Tobias Karzewski
    <span class="w3-medium w3-hide-small">Selbstständiger Softwareentwickler</span>
  </h2>
  <div class="link-container w3-right w3-hide-small w3-margin-left">
    <a class="w3-medium" [routerLink]="['/kontakt']" href="javascript:">Kontakt</a>
  </div>
  <div class="link-container w3-right w3-hide-small">
    <a class="w3-medium" href="https://gist.github.com/tkarzewski">Code Beispiele</a>
  </div>
  <div class="bar-container w3-right w3-hide-medium w3-hide-large">
    <span (click)="toggleMenu()" class="fa fa-2x fa-bars"></span>
  </div>
</header>

<tk-mobile-menu
  [isDisplayed]="isMenuDisplayed"
  (menuToggled)="isMenuDisplayed = $event">
</tk-mobile-menu>
