<!-- Header Section Start -->
<header id="hero-area">

  <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-faded menu-bg">
    <div class="container">

      <!-- Logo -->
      <a class="navbar-brand" href="index.html">
        <img src="assets/img/logo_small.png" alt="Start">
      </a>

      <!-- Mobile Hamburger Button -->
      <button (click)="isMobileMenuOpened = !isMobileMenuOpened"
              [class.collapsed]="isMobileMenuOpened"
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>


      <!-- Menüeinträge -->
      <div [class.show]="isMobileMenuOpened"
           class="collapse navbar-collapse justify-content-end"
           id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:" routerLink="/start">Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" routerLink="/leistungen">Leistungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" routerLink="/erfahrung">Erfahrung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" routerLink="/technologien">Technologien</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" routerLink="/kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- OWL Slider -->
  <!--
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="carousel-slider owl-carousel owl-theme">
          <div class="item active">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Basic - Bootstrap 4 Template</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
              <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Read More</a>
              <a href="#" class="btn btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Purchase</a>
              <div class="banner_bottom_btn wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
                <a href="#about" class="js-target-scroll"><i class="icon-mouse"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">Digital Solution for Startups</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
              <a href="#" class="btn btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Get Started</a>
              <div class="banner_bottom_btn wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
                <a href="#about" class="js-target-scroll"><i class="icon-mouse"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">More Than Just a Template</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
              <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Read More</a>
              <a href="#" class="btn btn-border wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Purchase</a>
              <div class="banner_bottom_btn wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
                <a href="#about" class="js-target-scroll"><i class="icon-mouse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

</header>
<!-- Header Section End -->
