<div class="w3-display-container w3-margin-bottom">
  <img src="assets/img/tobi1.jpg" style="width:100%" alt="Avatar">
</div>

<div class="w3-container">
  <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Selbstständiger Softwareentwickler</p>
  <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bochum, DE</p>
  <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>tobias@karzewski.de</p>
  <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+49 151 15401793</p>
  <hr>
</div>
