<div class="w3-col s5 m12 l12">
  <div id="person" class="w3-display-container w3-margin-bottom">
    <img src="assets/img/tobi1.jpg" style="width:100%" alt="Avatar">
  </div>
</div>

<div class="w3-col s7 m12 l12">
  <div class="w3-container">
    <p class="w3-hide-medium w3-hide-large"></p>

    <p class="w3-hide-small w3-hide-medium">
      <i class="fa fa-user-alt fa-fw w3-margin-right w3-large w3-text-teal"></i>
      Selbstständiger Softwareentwickler
    </p>
    <p class="w3-hide-large">
      <i class="fa fa-user-alt fa-fw w3-margin-right w3-large w3-text-teal"></i>
      <span>Selbstständiger </span>
      <span style="padding-left: 39px">Softwareentwickler</span>
    </p>

    <p>
      <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
      Bochum, DE
    </p>
    <p>
      <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
      tobias@karzewski.de
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>
      +49 151 15401793
    </p>
    <hr class="w3-hide-small">
  </div>
</div>
