<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin">

    <div class="w3-row">
      <div class="w3-col l2">&nbsp;</div>
      <div class="w3-col l8">
        <ng-container *ngTemplateOutlet="templateContactForm"></ng-container>
      </div>
      <div class="w3-col l2">&nbsp;</div>
    </div>

  </div>

</div>

<!-- START Template Contact Form -->
<ng-template #templateContactForm>

  <form name="contactFormName" #contactForm="ngForm">

    <h2 class="w3-center w3-margin-top">Kontakt aufnehmen</h2>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput
                 [(ngModel)]="request.name"
                 #name="ngModel"
                 required
                 name="name"
                 id="name"
                 type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput
                 [(ngModel)]="request.email"
                 #email="ngModel"
                 required
                 [pattern]="emailValidationPattern"
                 name="email"
                 id="email"
                 type="email">
          <mat-error *ngIf="email?.errors?.pattern && !email?.errors?.required">
            Bitte eine gültige E-Mail Adresse eingeben
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Telefon</mat-label>
          <input matInput
                 [(ngModel)]="request.phone"
                 id="phone"
                 name="phone"
                 #phone="ngModel"
                 type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Nachricht</mat-label>
          <textarea matInput
                    required
                    [(ngModel)]="request.message"
                    minlength="100"
                    id="message"
                    #message="ngModel"
                    name="message"
                    type="text">
          </textarea>
          <mat-error *ngIf="message?.errors?.minlength && !message?.errors?.required">
            Bitte schreiben Sie doch eine längere Nachricht (z.B. mit mindestens 100 Zeichen)
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <p class="w3-right">
      <button [disabled]="contactForm.invalid"
              (click)="sendRequest()"
              class="w3-button w3-section w3-teal w3-ripple">
        Absenden
      </button>
    </p>

  </form>

</ng-template>
<!-- END Template Contact Form -->
