<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <div class="w3-container w3-card-4 w3-white w3-text-grey w3-margin">

    <!-- Display Contact Form -->
    <div *ngIf="!isError && !isSuccess" class="w3-row">
      <div class="w3-col l2 m1">&nbsp;</div>
      <div class="w3-col l8 m10">
        <ng-container *ngTemplateOutlet="templateContactForm"></ng-container>
      </div>
      <div class="w3-col l2 m1">&nbsp;</div>
    </div>

    <!-- Display Success or Error -->
    <div *ngIf="isError || isSuccess" class="w3-row">
      <div class="w3-col l2 m1">&nbsp;</div>
      <div *ngIf="isSuccess" class="w3-col l8">
        <ng-container *ngTemplateOutlet="templateSuccess"></ng-container>
      </div>
      <div *ngIf="isError" class="w3-col l8">
        <ng-container *ngTemplateOutlet="templateError"></ng-container>
      </div>
      <div class="w3-col l2 m1">&nbsp;</div>
    </div>

  </div>

</div>


<!-- START Template Contact Form -->
<ng-template #templateContactForm>

  <form name="contactFormName" #contactForm="ngForm">

    <h2 class="w3-center w3-margin-top">Kontakt aufnehmen</h2>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-at"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput
                 [(ngModel)]="request.email"
                 #email="ngModel"
                 required
                 [pattern]="emailValidationPattern"
                 name="email"
                 id="email"
                 type="email">
          <mat-error *ngIf="email?.errors?.pattern && !email?.errors?.required">
            Bitte geben Sie eine gültige E-Mail Adresse ein
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Telefon</mat-label>
          <input matInput
                 [(ngModel)]="request.phone"
                 id="phone"
                 name="phone"
                 #phone="ngModel"
                 type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-comment"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Betreff</mat-label>
          <input matInput
                 [(ngModel)]="request.subject"
                 #subject="ngModel"
                 required
                 name="subject"
                 id="subject"
                 type="text">
        </mat-form-field>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-comments"></i></div>
      <div class="w3-rest">
        <mat-form-field appearance="fill">
          <mat-label>Nachricht</mat-label>
          <textarea matInput
                    required
                    [(ngModel)]="request.message"
                    minlength="100"
                    id="message"
                    #message="ngModel"
                    name="message"
                    type="text">
          </textarea>
          <mat-error *ngIf="message?.errors?.minlength && !message?.errors?.required">
            Bitte schreiben Sie doch eine längere Nachricht (z.B. mit mindestens 100 Zeichen)
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <p class="w3-right">
      <button [disabled]="contactForm.invalid"
              (click)="sendRequest()"
              class="w3-button w3-section w3-teal w3-ripple">
        Absenden
      </button>
    </p>

  </form>

</ng-template>
<!-- END Template Contact Form -->


<!-- START Template Success Message -->
<ng-template #templateSuccess>
  <div class="w3-panel w3-pale-green w3-card-4 w3-round w3-margin-top">
    <h2 class="w3-center w3-margin-top"><span class="fa fa-bicycle"></span> Ihre Nachricht wird ausgeliefert!</h2>
    <p class="w3-center w3-margin-top">
      Sobald der Bote eintrifft, werde ich Ihre Nachricht beantworten.<br>
      Eine Abschrift Ihrer Nachricht wird auch in Ihr Postfach geliefert.
    </p>
    <p class="w3-center w3-margin-bottom">
      <a class="w3-margin-bottom" [routerLink]="['/']">
        Zur Übersicht <span class="fa fa-angle-right"></span>
      </a>
    </p>
  </div>
</ng-template>
<!-- END Template Success Message -->


<!-- START Template Error Message -->
<ng-template #templateError>
  <div class="w3-panel w3-pale-red w3-card-4 w3-round w3-margin-top">
    <h2 class="w3-center w3-margin-top"><span class="far fa-sad-tear"></span> Hoppala!</h2>
    <p class="w3-center w3-margin-top">
      Ein - na was wohl - unerwarteter Fehler ist aufgetreten.
      <br>
      Bitte versuchen Sie es später noch einmal oder kontaktieren Sie mich per
      <a [href]="'mailto:' + person.contact.mail">E-Mail</a>.
    </p>
    <p class="w3-center w3-margin-bottom">
      <a class="w3-margin-bottom" [routerLink]="['/']">
        Zur Übersicht <span class="fa fa-angle-right"></span>
      </a>
    </p>
  </div>
</ng-template>
<!-- END Template Error Message -->
