<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <form #contactForm="ngForm" class="w3-container w3-card-4 w3-white w3-text-grey w3-margin">

    <div class="w3-row">
      <div class="w3-col l2">&nbsp;</div>
      <div class="w3-col l8">
        <ng-container *ngTemplateOutlet="templateContactForm"></ng-container>
      </div>
      <div class="w3-col l2">&nbsp;</div>
    </div>

    <!--
    <pre>{{ contactForm|json }}</pre>
    -->

  </form>

</div>

<!-- START Template Contact Form -->
<ng-template #templateContactForm>

  <h2 class="w3-center w3-margin-top">Kontakt aufnehmen</h2>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
    <div class="w3-rest">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput
               required
               [(ngModel)]="request.name"
               id="name"
               name="name"
               type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
    <div class="w3-rest">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
               required
               [(ngModel)]="request.email"
               id="email"
               name="email"
               type="email">
      </mat-form-field>
    </div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
    <div class="w3-rest">
      <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput
               [(ngModel)]="request.phone"
               id="phone"
               name="phone"
               type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
    <div class="w3-rest">
      <mat-form-field appearance="fill">
        <mat-label>Nachricht</mat-label>
        <textarea matInput
                  required
                  [(ngModel)]="request.message"
                  id="message"
                  name="message"
                  type="text">
        </textarea>
      </mat-form-field>
    </div>
  </div>

  <p class="w3-right">
    <button class="w3-button w3-section w3-teal w3-ripple"
            (click)="sendRequest()">
      Absenden
    </button>
  </p>

</ng-template>
<!-- END Template Contact Form -->
