<div [class.w3-hide]="!isDisplayed"
     class="w3-bar w3-teal">
  <a (click)="toggleMenu()"
     [routerLink]="['/']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Person
  </a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Skills</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Auf einen Blick</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Projekte</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">Download PDF</a>
  <a (click)="toggleMenu()"
     [routerLink]="['/impressum']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Impressum
  </a>
  <a (click)="toggleMenu()"
     [routerLink]="['/datenschutz']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Datenschutz
  </a>
</div>
