<div [class.w3-hide]="!isDisplayed"
     class="w3-bar w3-teal">

  <a (click)="jumpTo('person')"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Person
  </a>

  <a (click)="jumpTo('skills')"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Skills
  </a>

  <a (click)="jumpTo('auf-einen-blick')"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Auf einen Blick
  </a>

  <a (click)="jumpTo('projekte')"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Projekte
  </a>

  <a (click)="downloadPdf()"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Download PDF
  </a>

  <a (click)="toggleMenu()"
     [routerLink]="['/kontakt']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Kontakt
  </a>

  <a (click)="toggleMenu()"
     [routerLink]="['/impressum']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Impressum
  </a>

  <a (click)="toggleMenu()"
     [routerLink]="['/datenschutz']"
     href="javascript:"
     class="w3-bar-item w3-button w3-mobile">
    Datenschutz
  </a>
</div>
