<div id="auf-einen-blick" class="w3-container w3-card w3-white w3-margin-bottom">
  <h3 class="w3-text-grey w3-padding-16">
    <i class="fa fa-rocket fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Auf einen Blick
  </h3>

  <!-- Loading animation -->
  <div *ngIf="isLoading" class="w3-container">
    <p>
      <tk-loading-animation *ngIf="isLoading" message="Wird geladen ..."></tk-loading-animation>
    </p>
  </div>

  <!-- Iterate through services -->
  <div *ngFor="let service of services, let last=last" class="w3-container">
    <p>{{ service }}</p>
    <hr *ngIf="!last">
    <br *ngIf="last">
  </div>

</div>
