<!-- The Grid -->
<div class="w3-row">

  <!-- Left Column -->
  <div class="w3-third">
    <div class="w3-white w3-text-grey w3-card-4">

      <!-- Personal Data -->
      <tk-person></tk-person>

      <!-- BEGIN SKILLS -->
      <tk-skills></tk-skills>
    </div>
    <br>

  </div>
  <!-- End Left Column -->

  <!-- Right Column -->
  <div class="w3-twothird">

    <!-- BEGIN SERVICES -->
    <tk-services></tk-services>

    <!-- BEGIN PROJECTS -->
    <tk-projects></tk-projects>

  </div>
  <!-- End Right Column -->

</div>
<!-- End Grid -->
