/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'RobotoFix';
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/roboto/roboto-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: url("assets/fonts/roboto/roboto-v15-latin-300.eot?#iefix") format("embedded-opentype"),
       url("assets/fonts/roboto/roboto-v15-latin-300.woff2") format("woff2"),
       url("assets/fonts/roboto/roboto-v15-latin-300.woff") format("woff"),
       url("assets/fonts/roboto/roboto-v15-latin-300.ttf") format("truetype"),
       url("assets/fonts/roboto/roboto-v15-latin-300.svg#Roboto") format("svg");
}

body {
  font-family: "RobotoFix", Times, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

a {
  color: #0056b3;
}
